<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BJ's 주문처리 자동화</title>

        <!--custom css 링크-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <!-- htmx -->
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
        <!-- custom js-->
        <script src="{{ url_for('static', filename='custom.js') }}"></script>

    </head>
    <body>
        <div class="container">
            <div class="header">
                <button class="left_btn" type="button" hx-get="/ordering" hx-swap="innerHTML" hx-target="#body_div">
                    <span>주문 처리하기</span>
                </button>
                <input type="text" >
                <button  class="left_btn">예약시간 변경하기</button>
            </div>
            <div id="body_div" style="width:100%">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
    
</html>