<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BJ's 주문처리 자동화</title>

        <!--custom css 링크-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <!-- htmx -->
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js" integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous"></script>
        <!-- custom js-->
        <script src="{{ url_for('static', filename='custom.js') }}"></script>

    </head>
    <body>
        <div class="container">
            <div class="left_menusection">
                <div class="left_button_div">
                    <button class="left_btn" type="button" hx-get="/dailyscrawl_loading" hx-swap="innerHTML" hx-target="body">
                        <span>주문데이터 수집하기</span>
                    </button>
                    <button  class="left_btn"  hx-get="/today_loading" hx-swap="innerHTML" hx-target="body">
                        <i class="fa-solid fa-rotate"></i><span>실시간 실적 수집</span></button>
                    </button>
                    
                    <button id="rankingButton" class="left_btn" onclick="startLoading()">
                        <i class="fa-solid fa-medal"></i>
                        <span id="buttonText">키워드 랭킹 수집</span>
                    </button>
                    <div id="loadingSpinner"  class="left_btn" style="display: none;">
                        <i class="fas fa-spinner fa-spin"></i> 로딩 중...
                    </div>
                    <button  class="left_btn"  hx-get="/get_auth" hx-swap="innerHTML" hx-target=".right_content">
                        <i class="fa-solid fa-rotate"></i><span>새 AUTH 코드 받기</span></button>
                    </button>
                </div>
                <div class="left_menu_div">
                    <a href="/dashboard"><button class="parent_menu_btn"><i class="fa-solid fa-gauge"></i><span>새 AUTH 코드 받기</span></button></a>
                    <a href="/today_render"><button class="parent_menu_btn"><i class="fa-solid fa-clock"></i><span>실시간 실적</span></button></a>
                    <a href="/term"><button class="parent_menu_btn"><i class="fa-solid fa-calendar-week"></i><span>기간 보고서</span></button></a>
                    <a href="/ranking"><button class="parent_menu_btn"><i class="fa-solid fa-medal"></i><span>키워드 랭킹(베타)</span></button></a>
                    <a href="/product_report_main"><button class="parent_menu_btn"><i class="fa-solid fa-gifts"></i><span>상품 보고서</span></button></a>
                </div>
            </div>
            <div class="right_content ">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
    
</html>